.box {
  width: 100%;
  height: 100%;
 
 
}



.container {
  grid-row: 1 / span 12;
  grid-column: 1 / span 12;

  // padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.log{
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}




.clockface {
  width: 250px;
 
  height: 250px;

  border-radius: 50%;
  background-color:whitesmoke;
  background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand {
  position: absolute;
  transform-origin: 50% 100%;
  background-color: #393e46;
}

.secondshand {

  width: 5px;
  height: 110px;
  background-color:transparent;
 
}
.secondshand::after{
  position: absolute;
  top: -1.5rem;
  transform: translateX(-50%);
  border-radius: 50%;
content: '';
width: 3rem;
height: 3rem;
background-color: rgb(29, 12, 220);
z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}

.smole{
  

  width: 200px;
  height: 200px;
  background-color:rgb(223, 211, 211);
  /* z-index: 999999999999999999999999999999999999999999999999 !important; */
  border-radius: 50%;

}